[build]
  publish = "."
  functions = "functions"

[build.environment]
  NODE_VERSION = "20"  # <-- This line tells Netlify to use Node.js 20.x

[dev]
  command = "npm run dev"
  port = 8888
  targetPort = 3000
  framework = "#custom"